# Credenciales de la Base de Datos para la App
DB_HOST=localhost
DB_USER=app_user
DB_PASSWORD=
DB_DATABASE=gestion_alumnos

# Credenciales de Root de MySQL (para phpMyAdmin y configuración inicial)
MYSQL_ROOT_PASSWORD=

# Secreto de la aplicación (JWT)
JWT_SECRET=SUPER_SECRETO_JWT_SEGURO

# Puertos (opcionales, para personalización)
APP_PORT=3000
DB_PORT=3306
PHPMYADMIN_PORT=8080